h1 {text-decoration: underline;}

.corpo {display: inline;
		padding-left: 20px;}

.corpo input {margin-bottom: 10px;}

.calendario {position: absolute;
				border: solid black 2px;}

.calendario p {border-bottom: solid black 2px;
				text-decoration: underline;
				text-align: center;
				display: block;
				margin-bottom: 0px;
				padding-top: 0px;
				margin-top: 0px;}

.calendario input {margin-bottom: 0px;}