.header {vertical-align: top;
		 border-style: solid;}

.logo {border-style: solid;
 	   position: relative;
 	   border-width: 2px;}

a:hover {background-color: rgba(128, 128, 128, 0.300);}

a {padding: 2px;}
